#registration-form div, #registration-form #submit {
    margin-bottom:15px;
}

#registration-form input[type="checkbox"] { 
	height:20px;
    width: 20px;
    margin-top: 5px;
    float:left; 
}

#registration-form input[type="text"].errorMessage { 
    border: #ff0000 1px solid;
    background-color: #f2dede;
}

#registration-form input[type="text"]:focus {
    background-color: lightblue;
  }

#registration-form span.errorMessage, #registration-form p.errorMessage { 
    color: #FF0000;
    font-weight:normal;
}

#registration-form img {
    margin-right: 5px;
}